.main-wrapper{
    height:100%;
    width: 100%;
    text-align: center;
}

.form-field{
    border-radius: 5px 5px 0px 0px;
    min-width: 350px;
    height:50px;
    width:40%;
    margin:10px;
    background: transparent;
    border:0;
    border-bottom: solid 2px rgb(46, 46, 137);
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding: 10px;
    transition: all 200ms ease-in-out;
}

.select-field{
    width:200px;
    letter-spacing: 2px;
    padding:10px;
    margin:10px;
    border-radius: 5px;
}

#count{
    min-width: 250px;
    width:20%;
}

.button {
    border: solid 2px rgb(46, 46, 137);
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    /* margin:auto; */
    /* margin-bottom: 20px; */
    letter-spacing: 2px;
    transition: all 200ms ease-in-out;
    min-width: 100px;
}

.form-field:hover{
    background: rgb(200, 200, 200);
}

.form-field:focus{
    background: transparent;
}

.button:hover{
    background:rgb(46, 46, 137);
    color:white;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.message{
    min-width: 350px;
    margin:auto;
    text-align: center;
    width:40%;
    border:2px solid rgb(199, 110, 27);
    padding: 10px;
    background-color:rgb(226, 192, 158);
    border-radius: 9px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.button-wrapper {
    display: inline;
    text-align: center;
}